html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#camera,
#camera--view,
#camera--sensor,
#camera--output {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#camera--view,
#camera--sensor,
#camera--output {
  transform: scaleX(1);
  filter: FlipH;
}

.CameraOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  box-sizing: border-box;
}

/* 
video {
  -webkit-transform: scaleX(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleX(-1);
  transform: scaleY(-1);
} */
