:root
{
    /* Sizing - Prototype Only */
    --maxWidth: 100vw;
    --maxHeight: 100vh;
    /* Colours */
    --DarkGrey: #1A1A1A;
    --LightGrey: hsl(0, 0%, 35%);
    --SelectedModule: #dadada;
    --White: #FFFFFF;
    --OffWhite: hsl(0, 0%, 75%);
    --DarkBlue: #4098FF;
    --LightBlue: hsl(212, 100%, 50%); 
}

*
{
    /* Font */
    font-family: system-ui,'Lato', sans-serif;
}

a, a:visited, a:focus
{
    text-decoration: none;
}

h2
{
    font-weight: 400;
}

html
{
    background-color: var(--DarkGrey);
    width: var(--maxWidth);
    height: var(--maxHeight);
    overflow-x: hidden;
}

html::-webkit-scrollbar
{
    display: none;
}
body
{
    margin: 0em auto;
    width: var(--maxWidth);
    height: var(--maxHeight);
    min-width: 400px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar
{
    display: none;
}

.CheckInContainer, .HomeContainer
{
    background-image: url(/Images/Backgrounds/Darken/Background_04.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow: scroll;
}

.AttendyBanner
{
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    width: var(--maxWidth);
    padding: 0.75em 0em;
}

.AttendyBanner > img, .AttendyBanner > a > button
{
    margin: 0em 2em 0em 2em;
    padding: 0.25em 0em;
}

.AttendyBanner > a > button
{
    background-color: var(--DarkBlue);
    border: 0px solid var(--DarkGrey);
    border-radius: 5px;
    width: 7em;
    height: 2.25em;
    color: var(--White);
}

.AttendyBanner > a > button:focus-within, .AttendyBanner > button:hover
{
    background-color: var(--LightBlue);
}

.CheckInContainer_Header
{
    padding: 8em 0em 1em 0em;
    color: var(--White);
    text-align: center;
}

.HomeContainer_Header
{
    padding: 4em 0em 1em 0em;
    color: var(--White);
    text-align: center;
}

.CheckInContainer_InputFields
{
    /* Position The Input Fields & Buttons*/
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding-top: 2em;
    justify-content: center;
    align-self: center;
    margin: 2em auto;
    width: 50vw;
}

.CheckInContainer_InputFields > input
{
    /* Select ONLY Input Field */
    height: 3em;
    border: 0px solid var(--DarkGrey);
    border-radius: 5px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.25);
    background-color: var(--White);
    color: var(--DarkGrey);
    text-align: center;
}

.CheckInContainer_InputFields > input::placeholder
{
    /* Colour Placeholder Text for Aesthetics */
    color: var(--DarkGrey);
    text-align: center;
}

#CheckInTime
{
    text-align: center;
}

.CheckInContainer_InputFields > button
{
    /* Select ONLY Button Field */
    margin: 3em auto 0em auto;
    padding: 0em;
    height: 2.25em;
    width: 25vw;
    border: 0px solid var(--DarkGrey);
    border-radius: 5px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.25);
    background-color: var(--LightBlue);
    color: var(--White);
    font-size: 115%;
    text-align: center;
}

.CheckInContainer_InputFields > button:focus, .CheckInContainer_InputFields > button:hover
{
    background-color: var(--OffWhite);
}

.AttendanceDonut
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    column-gap: 1em;
}

.AttendanceDonut_Text
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    column-gap: 1em;
}

.HomeContainer_Modules
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--White);
    width: 90%;
    margin: 0em auto 3em auto;
    border: var(--LightGrey);
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
}

.HomeContainer_ModuleOne, .HomeContainer_ModuleTwo, .HomeContainer_ModuleThree
{
    width: 100%;
}

.HomeContainer_ModuleOne_Content, .HomeContainer_ModuleTwo_Content, .HomeContainer_ModuleThree_Content
{
    margin: 0em auto;
    width: 100%;
}

.HomeContainer_ModuleOne_SessionInformation, .HomeContainer_ModuleTwo_SessionInformation, .HomeContainer_ModuleThree_SessionInformation
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
}

.HomeContainer_ModuleOne > h2, .HomeContainer_ModuleTwo > h2, .HomeContainer_ModuleThree > h2
{
    text-align: center;
}

.HomeContainer_ModuleOne:hover, .HomeContainer_ModuleTwo:hover
{
    width: 100%;
    background-color: var(--SelectedModule);
}

.HomeContainer_ModuleThree:hover
{
    width: 100%;
    background-color: var(--SelectedModule);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.ErrorMessageBanner
{
    position: fixed;
    bottom: 0em;
    z-index: 99;
    height: 5vh;
    width: 100vw;
    background-color: #ff4040;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.ErrorMessageBanner_CloseButton
{
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0.3em;
    top: -0.2em;
}